@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .h-custom-height {
    height: 86vh;
  }
  .h-custom-height-dash {
    height: 43vh;
  }
}
@layer utilities {
  .h-custom-max-height {
    height: 25vh;
  }
}
